<style>
    table {
        border-style: solid;
        border-radius: 1px;
    }
    table th,td{
        border-style: solid;
        border-radius: 1mm;
    }
</style>

<html>
    <head>
        <meta http-equiv="refresh" content="10" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <title>WebAccess Web Service Sample</title>
    </head>
<body>
    <p>데이터 추출결과</p>
    <form action="/data_print" method="get">
    <input type="hidden" name="current_page" id="current_page" value="1">
    <input type="date" name = "date" id="date">&nbsp<button>검색</button>
    <table>
    
        <%
        var session_temp;
        if(target_temp===0){ %>
         <p>현재 등록된 온도가 없습니다</p>
        <%}else{ 
        var session_temp = target_temp;%>
         <p>현재 등록된 온도는 <%=session_temp%>입니다</p>
         <%if(current_temp>target_temp){
             %><p style=color:red>온도가 높습니다.(현재온도: <%=current_temp %>)</p><%
         }else{
             %><p style=color:green>온도가 정상입니다.(현재온도: <%=current_temp %>)</p><%
         }
         }
        %>

        <% 
        if(data[0]!==undefined){%>
        <tr>
            <th>날짜</th>
            <th>시간</th>
            <th>온도</th>
            <th>알람</th>
            </tr>
            <%
            data = model.list;
            console.log(model.list);

            data.forEach(function(val){

                %>
                <tr>
                <td><%=val.LogDate %></td>
                <td><%=val.LogTime %></td>
                <td><%=val.LastValue.toFixed(2) %></td>
                        <td><% if(target_temp===0){}
                    else if(val.LastValue>=target_temp){%> <p style="color:red">위험</p><%}
                    else{%> <p style="color:green">정상</p><%}%>
                </td>
                </tr>
            <% }); %>
        </tr>
        <%}%>
    </table>
    <%
    for(i=1 ; i<model.lastPage ; i++){
        %>
        <a href="data_print?current_page=<%=i%>&date=<%=current_date%>"><%=i%></a>
        
        <%
    }%>

</form>
    <p><a href="insert_temp">온도등록</a></p>
    <p><a href="adjust_temp">온도수정</a></p>
    <p><a href="init_temp">온도초기화</a></p>
    
</body>
</html>

